@import url('https://fonts.cdnfonts.com/css/satoshi');

//
$darkbg-color: #17181c;
$button-color: #6366f1;
$blogsbg-color: #ebf0f4;

* {
  font-family: satoshi;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container-main {
  display: flex;
  height: 100%;
}

.left-half {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 40%;
  background-color: $darkbg-color;
  overflow: hidden;

  > .style_logo1 {
    margin: 7%;
    height: 3%;
  }

  > .style_logo2 {
    position: absolute;
    width: 100%;
    height: 100%;
    left: -25%;
    top: 30%;
    opacity: 0.2;
  }
}

.right-half {
  justify-content: center;
  position: absolute;
  right: 0px;
  width: 60%;
  background-color: white;
  height: 100%;
}

.button-login {
  background-color: $button-color;
  width: 360px;
  height: 40px;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  margin-top: 16px;
  transition: 0.3s;
  &:hover {
    animation: pulse 1s infinite;
    transition: 0.3s;
  }
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    70% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }
}

.container-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
  margin-right: 20%;
}

.form-control {
  width: 360px;
  height: 48px;
  margin-bottom: 8px;
}

.paragraph-signin {
  position: absolute;
  height: 2%;
  left: 60%;
  margin-top: 3%;
}

.paragraph-signup {
  width: 365px;
}

.paragraph-fpassword {
  width: 365px;
  text-align: center;
  margin-top: 5%;
}

.navbar-main {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1%;
  width: 100%;
}

.blogs-loginbutton {
  background-color: #6366f1;
  color: white;
  width: 90px;
  height: 40px;
  border-radius: 4px;
  border: none;
}

.blogslogo-style {
  margin-top: 4px;
  height: 100%;
}

.blogs-search {
  width: 560px;
  height: 48px;
  border-radius: 4px;
  border: none;
  background-color: #ecf1f3;
}

.login-link {
  margin-top: 5%;
  margin-right: 30%;
}

.createpost-button {
  background-color: #6366f1;
  color: white;
  width: 260px;
  height: 40px;
  border: none;
  border-radius: 4px;
}

.textover-image {
  color: white;
  z-index: 1;
  margin-top: -12%;
  margin-left: 5%;
  font-size: 16px;
}

.has-search .form-control-feedback {
  position: absolute;
  height: 40%;
  bottom: 12px;
  margin-left: 10px;
  color: rgba(17, 18, 21, 0.32);
}

.has-search .form-control {
  padding-left: 8%;
}

.post-container {
  display: flex;
  flex-direction: column;
}

.card-footer {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.card-body {
  margin-top: 2%;
}

.user-icon {
  border-radius: 50%;
  width: 44px;
  height: 44px;
}

.navbar-button {
  width: 40px;
  height: 40px;
  background: #ecf1f3;
  border: none;
  border-radius: 4px;
}

.vl {
  margin-top: 20px;
  height: 2px;
  width: 40px;
  border: 1px solid #d2d2d3;
  transform: rotate(90deg);
}

.image-container {
  width: 201px;
  height: 120px;
  > .image {
    width: 100%;
  }
  &:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.card-links {
  color: grey;
  font-size: 12.8px;
  display: flex;
  margin-top: 16px;
}

.left-link {
  flex: 2;
}

.right-link {
  flex: 2;
}

.p-spacing {
  margin: 0;
  margin-bottom: 8px;
}
